.node rect {
    stroke: #333;
    fill: #fff;
}

.edgePath path {
    stroke: #555;
    fill: #555;
    stroke-width: 1.5px;
}

.grid-line {
  fill: none;
  stroke: #eee;
  stroke-width: 1;
}

.grid-line.thin {
  stroke-width: 0.5;
}

