.node rect {
    stroke: #333;
    fill: rgba(124, 148, 163, 0.6);
}

.node .label text {
    fill: rgb(2, 34, 54);
    text-rendering: optimizeLegibility;
}

.edgePath path {
    stroke: #555;
    fill: #555;
    stroke-width: 1.5px;
}

.grid-line {
  fill: none;
  stroke: #dedede;
  stroke-width: 1;
}

.grid-line.thin {
  stroke-width: 0.5;
}


