<form class="form-horizontal">
  <div class="form-group">
    <label class="control-label col-sm-4">{{rootName}}</label>
    <div class="col-sm-8">
      <select class="form-control" name="root">
        {{#each roots}}
          {{option value label ../currentRoot}}
        {{/each}}
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-4">Layout</label>
    <div class="col-sm-8">
      <select class="form-control" name="rankdir">
        {{#each layouts}}
          {{option value label ../rankdir}}
        {{/each}}
      </select>
    </div>
  </div>
  <div class="form-group leaves">
    <label class="control-label col-sm-12">Leaf Nodes</label>
    {{#each leaves}}
      <div class="checkbox">
        {{checkbox value value visible}}
      </div>
    {{/each}}
  </div>
</form>
